@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #3f3f3f;
  margin: 0 10rem;
}

@media (max-width: 768px) {
  html {
    font-size: 51.5%;
  }

  body {
    margin: 0;
  }
}
